---
import PieceTypeNav from "./PieceTypeNav.astro"
import { Icon } from "astro-icon/components"

interface Props {
  prev: string
  next: string
  progress: number
  type?: string
}

const { prev, next, progress, type = "default" } = Astro.props
---

<div class="Header">
  <PieceTypeNav />
  <div class="header-layout">
    <div class="header-content">
      <div class="slot"><slot /></div>
      <div class="prev-next-nav">
        <a href={prev}>
          <Icon name="emojione-monotone:back-arrow" />
        </a>
        <a href={next}>
          <Icon name="emojione-monotone:soon-arrow" />
        </a>
      </div>
    </div>
    <div class="progress-wrapper">
      <div class={`progress --bg-${type}`}>
        <span class="progress-label">{progress}%</span>
      </div>
    </div>
  </div>
</div>

<style define:vars={{ progress: `${progress}%` }}>
  .Header {
    color: var(--slate-400);
    display: grid;
    gap: 0.5rem;
    padding-block-start: 1.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }

  .header-layout {
    display: grid;
    gap: 1rem;
    align-items: center;
  }
  :is(.slot, .prev-next-nav) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .header-content {
    display: grid;
    gap: 1rem;
    align-items: center;
  }

  .prev-next-nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .prev-next-nav a {
    color: inherit;
  }
  .prev-next-nav :global(svg) {
    display: flex;
    font-size: 1.2em;
  }

  .progress-wrapper {
    background-color: var(--slate-200);
  }
  .progress {
    width: var(--progress);
    text-align: end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
  }
  .progress-label {
    display: inline-block;
    padding-inline: 0.25rem;
  }
</style>
